@import '../variables';
@import '../mixins';

.#{$prefix}-ui-seek-forward-button {
  @extend %ui-button;

  background-image: svg('assets/skin-modern/images/seek_forward.svg');
  background-size: contain;

  &:hover {
    @include svg-icon-shadow;
  }

  &.#{$prefix}-on {
    background-image: svg('assets/skin-modern/images/seek_forward.svg');
    background-size: contain;
  }
}

.#{$prefix}-ui-seek-backward-button {
    @extend %ui-button;
  
    background-image: svg('assets/skin-modern/images/seek_backward.svg');
    background-size: contain;
  
    &:hover {
      @include svg-icon-shadow;
    }
  
    &.#{$prefix}-on {
      background-image: svg('assets/skin-modern/images/seek_backward.svg');
      background-size: contain;
    }
}